@{
    ViewBag.Title = "FundsReleasedtwoIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Charity-善款公开</title>
    <link href="~/Content/css/Foreground/FundsReleased/FundsReleasedStyle.css" rel="stylesheet" />
</head>

<body>
    <div id="progress_FundsReleased"></div>
    <!--小导航栏-->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li>
                <a href="../FundsReleased/FundsReleasedIndex"> 爱心系列</a>
            </li>
            <li class="active">
                善款公开
            </li>
        </ul>
    </div>
    <hr />
    <div class="marginsss_aa1">
        <div class="help_head_img">
            <a href="../FundsReleased/FundsReleasedIndex">
                <div class="button_cishanggongkai">
                    <span>慈善公布</span>
                </div>
            </a>
        </div>
        <div class="boxc_a1_con">
            <div class="boxc_a1_con_one">
                <ul>
                    <li>
                        <a href="../FundsReleased/FundsReleasedIndex"><input class="ooood_2" type="button" value="企业捐助"></a>
                    </li>
                    <li>
                        <a href="../FundsReleased/FundsReleasedtwoIndex"><input class="ooood_1" type="button" value="个人捐助"></a>
                    </li>
                    <li class="order-now">
                        <a href="../FundsReleased/FundsReleasedtwoIndex">刷新纪录</a>
                    </li>
                </ul>
            </div>
            <div class="boxc_a2_con_one">
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>捐款人</th>
                            <th>总捐款额</th>
                            <th>救助总额</th>
                            <th>捐款次数</th>
                            <th>会员类型</th>
                            <th>信息详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>新浪公司</td>
                            <td>10000.02￥</td>
                            <td>41￥</td>
                            <td>41次</td>
                            <td>普通会员</td>
                            <td class="td_checkmesg"><a href="#"><div>查看详情</div></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

