@{
    ViewBag.Title = "LovehelpIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Charity-爱心活动之爱心帮扶</title>
    <link href="~/Content/css/Foreground/Loveactivity/LoveactivityStyle.css" rel="stylesheet" />
    <script src="~/Content/js/Foreground/Loveactivity/Loveactivity.js"></script>
</head>
<body>
    <div id="progress_Loveactivity"></div>
    <!--小导航栏-->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li>
                <a href="../Loveactivity/LoveactivityIndex"> 爱心系列</a>
            </li>
            <li class="active">
                贫困资助
            </li>
        </ul>
    </div>
    <div class="help_head_img"></div>
    <hr class="hr_loveactiy" />

    <!--子导航栏-->
    <div class="zi_nav_ling">
        <div class="width_control main">
            <div class="leftbar">
                <ul class="leftnav">
                    <li >
                        <a href="../Loveactivity/LoveactivityIndex" style="color:white;">爱心教育</a>
                    </li>

                    <li class="helpnav">
                        <a href="../Loveactivity/LovehelpIndex">爱心帮扶</a>
                    </li>

                    <li>
                        <a href="../Loveactivity/LovemeatIndex">特殊关怀</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <div class="body_loveaction_much">
        <div class="zi_nav_loveaction_1">
            <div class="width_control main">
                <div class="right light">
                    <h1>
                        爱心活动 |
                        <a class="btnswicth2" href="../Loveactivity/LoveactivityIndex">爱心教育</a>
                        <a class="curr btnswicth1" href="../Loveactivity/LovehelpIndex">爱心帮扶</a>
                        <a class="btnswicth3" href="../Loveactivity/LovemeatIndex">特殊关怀</a>
                    </h1>
                </div>
            </div>
        </div>
        <div class="hr_nav_1"></div>
        <div class="hr_nav_2"></div>
        <div class="mover_nav_1">
            <h3 class="font_tcl_teacher">-Chinese爱心救援-</h3><br />
            <embed width="624" height="352" pluginspage="http://www.macromedia.com/go/getflashplayer"
                   type="application/x-shockwave-flash" src="http://vxml.ifengimg.com/swf/doc/docPlayer_v2.0.50.swf" 
                   flashvars="guid=4eb95550-c08a-4ce9-8cf1-696b50413a2c&amp;from=vdocumentary&amp;AutoPlay=true&amp;
                   adTag=ifeng&amp;
                   ADPlay=false&amp;
                   uid=1493436591094_64numw8587&amp;sid=&amp;
                   locid=&amp;startTime=0&amp;parent=0&amp;adType=4&amp;preAdType=0&amp;
                   pageurl=http://v.ifeng.com/documentary/society/201007/4eb95550-c08a-4ce9-8cf1-696b50413a2c.shtml&amp;PlayerName=vDocPlayer" allowfullscreen="true" wmode="transparent" allowscriptaccess="always">
            <p class="font_tcl_teacher_1">汶川大地震紧急救援活动</p>
        </div>





    </div>



    <hr />


</body>