@charset"utf-8";
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: 0 0;
    font-weight: 400;
    font-style: inherit;
    font-family: inherit;
    vertical-align: top
}
body {
    line-height: 1;
    color: #000;
    background-color: white;
    font-size: 12px;
    font-family: 'simsun';
}
article, aside, details, figcaption, figure, footer, header, hgroup, hr, menu, nav, section {
    display: block
}
    nav ul, ol, ul {
        list-style: none
    }
:focus, a {
    outline: 0
}
a {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    blr:expression(this.onFocus=this.blur())
}
a, ins {
    text-decoration: none
}
a, hr {
    padding: 0
}
ins, mark {
    background-color: #ff9;
    color: #000
}
mark {
    font-style: italic;
    font-weight: 700
}
blockquote, q {
    quotes: none
}
    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none
    }
del {
    text-decoration: line-through
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption, td, th {
    text-align: left;
    font-weight: 400
}
hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0
}
input, select {
    vertical-align: middle;
    border: 0
}
/*-------------------------归零样式END，请于样式表最前面调用-------------------------*/

/*-----------------自定义按钮样式，移动端不需要，PC端根据实际情况选择----------------*/
.demo {
    width: 1500px;
    height: 450px;
    font-size: 16px;
    position: relative;
  
}
    .demo a.control {
        position: absolute;
        display: block;
        top: 55%;
        width: 76px;
        height: 112px;
        cursor: pointer;
        z-index: 2;
        background: url('../../../img/Home/buttons.png') no-repeat ;
    }
    .demo a.prev {
        left: 0;
        background-position: 0 0
    }
    .demo a.next {
        right: 0;
        background-position: -76px 0
    }
    .demo a.prev:hover {
        background-position: 0 -112px
    }
    .demo a.next:hover {
        background-position: -76px -112px
    }
/*----------------------------为保证最佳效果，建议设置如下样式------------------------*/
.slider {
    display: none;
}
.dome_one {
    height: 600px;
    background-color:cyan;
    box-shadow: 0 0 10px #393937;
}

/*过渡条循环播放*/
#element{
    animation:keyframe duration;
}
#progress_home {
    height: 2px;
    background:#0e1693;
    animation: pulse 4s infinite;
}
@keyframes pulse{
    0%{width:0;}
    100%{width:100%;}
}

/*彩虹图片动态旋转*/
.Home_GIF_A{

    width:100%;
    height:150px;
    text-align:center;
}
.Home_GIF_A span{
    height:100%;
    display:inline-block;
    vertical-align:middle;
}
    .Home_GIF_A img {
   width:7%;
        vertical-align: middle;
        animation:Caihong 1.5s infinite linear;
    }
    @keyframes Caihong{
        0%{transform:rotate(0deg);}
        100%{transform:rotate(360deg);}
    }


.Home_Zroe {
    width:100%;
    text-align:center;
}

.Home_Two {
    margin-top: 10px;
    height: 930px;
    /*width: 90%;*/
    text-align: center;
    background-color: #cccccc;
    /*margin-left:5%;*/
    box-shadow: -1px 0px 1px #808080;
}

.Home_Three {
    margin-top: 10px;
    height: 520px;
    text-align: center;
    box-shadow:-1px 3px 10px #393937;

}
.Home_Four_one {
    width: 60%;
    margin-left: 20%;
    padding-top:4%;

}
.Home_Four_two {
    position:absolute;
    margin-top:-23%;
    padding-left:16%;
}
.Home_Four {
    margin-top: 10px;
    height: 400px;
 
}
.Home_Six {
    margin-top:10px;
    height: 100px;

    text-align: center;


}
.Home_Six_one {
    margin-top: 20px;
    padding-top:0px;
    padding-left:22%;
 
}




/*柱状图CSS*/
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

    .skillbar-title span {
        display: block;
        background: rgba(0, 0, 0, 0.1);
        padding: 0 20px;
        height: 35px;
        line-height: 35px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}



h2 {
    clear: both;
    border-bottom: 1px solid #41b34d;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.fn-clear {
    zoom: 1;
}

.wmax {
    max-width: 100%;
    min-width: 1083px;
    height: 146px;
    margin: 0 auto;
    clear: both;
}

.fn-clear::after {
    visibility: hidden;
    display: block;
    font-size: 0px;
    content: " ";
    clear: both;
    height: 0px;
}



h2 ul {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-bottom: -7px;
}

    h2 ul li {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
    }

        h2 ul li.name {
            padding: 4px 15px 3px 15px;
            background: #41b34d;
            color: #fff;
            border-radius: 2px;
            -moz-border-radius: 2px;
        }



        /*图片轮播*/
.mKeBanner, .mKeBanner div {
    text-align: center;
}

.imageflow img {
    -webkit-box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,0.1);
    box-shadow: 2px 2px 2px 2px hsla(0,0%,0%,0.1);
}

.imageflow {
    overflow: hidden;
    position: relative;
    text-align: left;
    visibility: hidden;
    width: 1200px;
    margin: 0 auto
}

    .imageflow img {
        border: none;
        position: absolute;
        top: 0px;
        visibility: hidden;
        -ms-interpolation-mode: bicubic
    }

    .imageflow p {
        margin: 0 auto;
        text-align: center
    }

    .imageflow .loading {
        border: 1px solid #ccc;
        height: 15px;
        left: 50%;
        margin-left: -106px;
        padding: 5px;
        position: relative;
        visibility: visible;
        width: 200px
    }

    .imageflow .loading_bar {
        background: #ccc;
        height: 15px;
        visibility: visible;
        width: 1%
    }

    .imageflow .caption {
        font-weight: bold;
        position: relative;
        text-align: center;
        z-index: 10000
    }

    .imageflow .scrollbar {
        border-bottom: 1px solid #b3b3b3;
        position: relative;
        visibility: hidden;
        z-index: 10001;
        height: 1px
    }

    .imageflow .slider {
        /*background-image: url(../../Images/Index/slider.png);*/
        background-repeat: no-repeat;
        height: 14px;
        margin: -6px 0 0 -7px;
        position: absolute;
        width: 14px;
        z-index: 10002
    }

    .imageflow .images {
        overflow: hidden;
        white-space: nowrap
    }

    .imageflow .button {
        cursor: pointer;
        height: 17px;
        position: relative;
        width: 17px
    }

    .imageflow .previous {
        background: url(../../Images/Index/button_left.png) top left no-repeat;
        float: left;
        margin: -7px 0 0 -30px
    }

    .imageflow .next {
        background: url(../../Images/Index/button_right.png) top left no-repeat;
        float: right;
        margin: -7px -30px 0 30px
    }

#LoopDiv {
    background: url('../../../img/Home/国旗背景.jpg')no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}




.sitemap {
    margin-bottom: 100px;
}

.clearfix::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0px;
    content: ".";
}

.wrapper {
    margin-bottom: 10px;
}




ul.service_list li {
    float: left;
    width: 55px;
    height: 50px;
    margin: 25px 15px;
}

a:link, a:visited {
    color: #333;
    text-decoration: none;
}

ul.service_list li a {
    display: inline-block;
    width: 55px;
    padding-top: 32px;
    font-weight: bold;
    background: url('../../../img/Home/serv_bg.gif') 50% 0 no-repeat;
}

ul.service_list li a:hover{
    color:hotpink;
    text-shadow:1px 1px 1px #393937;
}
    
    
    ul.service_list li a.s11 {
        background-position: 50% -522px;
    }

    ul.service_list li a.s10 {
        background-position: 50% -472px;
    }

    ul.service_list li a.s9 {
        background-position: 50% -423px;
    }

    ul.service_list li a.s8 {
        background-position: 50% -369px;
    }

    ul.service_list li a.s7 {
        background-position: 50% -315px;
    }

    ul.service_list li a.s6 {
        background-position: 50% -266px;
    }

    ul.service_list li a.s4 {
        background-position: 50% -159px;
    }

    ul.service_list li a.s3 {
        background-position: 50% -103px;
    }

    ul.service_list li a.s2 {
        background-position: 50% -50px;
    }


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}


figure {
    margin: 1em 40px;
}


figure {
    margin: 0;
}

::selection {
    background: #91D8EA;
}

/*.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/



.row {
    margin-right: -15px;
    margin-left: -15px;
}

    .btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
        display: table;
        content: " ";
    }

    .btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
        clear: both;
    }

#features {
    /*background-color: #FFF;*/
    padding: 60px 0 80px 0;
    /*border-bottom: 1px solid #D2D6D8;*/
}

/*body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4285;
    color: #333;
    background-color: #fff;
}*/

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/* @media all and (min-width:768px) */
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
/* @media all and (min-width:768px) */
.col-sm-6 {
    width: 50%;
}
/* @media all and (min-width:992px) */
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
/* @media all and (min-width:992px) */
.col-md-4 {
    width: 33.33%;
}
/* @media all and (min-width:1200px) */
.row > div:nth-child(3n+4) {
    clear: both;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.25em;
    color: #354953;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    color: #354953;
}

figure {
    display: block;
    margin-bottom: 20px;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
}

.icon-cog {
    background-image: url('../../../img/Home/icon-cog.png');
    background-size: 36px 36px;
    margin-left:20px;
}

.icon-upgrades {
    background-image: url('../../../img/Home/icon-upgrades.png');
    background-size: 36px 36px;
}

.icon-box {
    background-image: url('../../../img/Home/icon-box.png');
    background-size: 36px 36px;
}

.icon-vue {
    background-image: url('../../../img/Home/icon-vue.png');
    background-size: 38px 36px;
}

.icon-two {
    background-image: url('../../../img/Home/icon-two.png');
    background-size: 36px 36px;
}

.icon-imp {
    background-image: url('../../../img/Home/icon-imp.png');
    background-size: 36px 36px;
}

.icon-announcement {
    background-image: url('../../../img/Home/icon-announcement.png');
    background-size: 36px 36px;
}

.icon-cart {
    background-image: url('../../../img/Home/icon-cart.png');
    background-size: 36px 36px;
}

.icon-inv {
    background-image: url('../../../img/Home/icon-inv.png');
    background-size: 36px 36px;
}

.icon-team {
    background-image: url('../../../img/Home/icon-teams.png');
    background-size: 38px 36px;
}

.icon-subscribe {
    background-image: url('../../../img/Home/icon-subscribe.png');
    background-size: 36px 36px;
}

.icon-auth {
    background-image: url('../../../img/Home/icon-auth.png');
    background-size: 36px 36px;

}
.col-md-4 {
    padding-bottom:17px;
}
.col-md-4 h3 {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Trebuchet MS';
}
.col-md-4 p {
    padding-bottom:10px;
    font-size: 14px;
    text-align:left;
    font-family:YouYuan;
}

.col-md-4 h3:hover{

    color:burlywood;
}
.col-md-4:hover {
    border-radius:10px;
    box-shadow:0px 0px 30px #7a7272;
}