<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>义卖网后台管理</title> <!--慈善义卖网站-->
    <link rel="Shortcut Icon" href="~/BE_favicon.ico" />
    <!--导入Iview-->
    <script src="~/Scripts/vue.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/iview/iview.css" />
    <script src="~/Scripts/iview.min.js"></script>
    <!--导入内置CSS-->
    <link href="~/Content/css/Background/_BackEnd_Layout/_BackEnd_LayoutStyle.css" rel="stylesheet" />
</head>
<body>


    <!--跳转的网页显示区域-->
    <div>

        @RenderBody()

    </div>






    <!--导入JS-->
    <script src="~/Content/js/Background/_BackEnd_Layout/_BackEnd_Layout.js"></script>
</body>
</html>
