/*以下内容是RenderBody样式*/
.RenderBody {
    padding-top: 4.8em;
}
/*一下内容是底部页面尾部导航*/
.login {
    color: #ffffff;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 8px;
    margin-top: -0.2em;
}

.loginset {
    margin-left: 10%;
}

.header_navbar {
    background-color: aquamarine;
}

.Htmlfont_clss {
    color: yellow;
}

.Charity_font {
    position: absolute;
    margin-left: 3%;
    margin-top: 1%;
    font-size: 27px;
    font-family: 'Adobe Fan Heiti Std';
    font-weight: 500;
}

.fontee {
    font-size: 5px;
}

.Nbottom {
    background: #24282f;
    padding: 6px 0;
    display: block;
    text-align: center;
}

    .Nbottom p {
        font-size: 12px;
        color: #999;
        text-align: center;
        font-family: "宋体";
    }

.siteFooterBox {
    background-color: #24282f;
    margin-bottom: -0.5em;
}

.mainInnerBox {
    width: 80%;
    margin: 1px auto;
    display: block;
    font-size: inherit;
}

.siteIlB_box {
    font-size: 0px;
}

.siteBF_yqlj {
    text-align: center;
    width: 730px;
    margin: 0px auto;
    padding: 20px 0;
}

.siteBFooter_p {
    text-align: center;
    font-size: 10px;
    color: #353e4a;
    padding: 15px 20px 20px 20px;
    background-color: #1e2229;
}

.btn {
    cursor: pointer;
}

.site_hoverCss3A {
    text-decoration: none;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.siteIlB_box > *, .siteIlB_item {
    vertical-align: top;
    font-size: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.siteBF_yqlj a {
    color: #353e4a;
    height: 20px;
    line-height: 20px;
    margin: 0px 4px 0 0;
}

    .siteBF_yqlj a:hover {
        color: cyan;
    }

.siteMFooter {
    height: 45px;
    padding-top: 40px;
    text-align: center;
    box-shadow: inset 0px -1px 0px rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(255,255,255,.05);
}

.siteMFooterABox {
    margin-top: -2%;
    color: #485263;
}

    .siteMFooterABox a {
        color: #616c7f;
    }

        .siteMFooterABox a:hover {
            color: cyan;
        }

    .siteMFooterABox span {
        margin: 0em 1em;
    }

.signUp_Login {
    border-radius: 30px;
}

.li_massage_borad {
    left: 22%;
    background: #485263;
    border-radius: 6px;
    height: 30px;
    width: 73px;
    margin-top: 12px;
    box-shadow: 3px 3px 2px #485263;
}

.li_massage_borad:hover {
    background: #485263;
    box-shadow: 3px 3px 2px blue;
}

.li_massage_borad a {
    margin-top: 0.2em;
}

.li_massage_borad_one {
    left: 18%;
    background: #485263;
    border-radius: 6px;
    height: 30px;
    width: 73px;
    margin-top: 12px;
    box-shadow: 3px 3px 2px #485263;
}

    .li_massage_borad_one:hover {
        background: #485263;
        box-shadow: 3px 3px 2px red;
    }

    .li_massage_borad_one a {
        margin-top: -0.8em;
        margin-left:0.5em;
    }

.li_massage_borad_two {
    left: 20%;
    background: #485263;
    border-radius: 6px;
    height: 30px;
    width: 73px;
    margin-top: 12px;
    box-shadow: 3px 3px 2px #485263;
}

    .li_massage_borad_two:hover {
        background: #485263;
        box-shadow: 3px 3px 2px yellow;
    }

    .li_massage_borad_two a {
        margin-top: -0.8em;
        margin-left: 0.5em;
    }

.li_massage_borad_three {
    left: 18%;
    background: #485263;
    border-radius: 6px;
    height: 30px;
    /*width: 73px;*/
    text-align:center;
    margin-top: 12px;
    box-shadow: 2px 3px 2px #485263;
}

   .li_massage_borad_three:hover {
        background: #999;
        box-shadow: 0px 3px 2px red;
    }
.li_massage_borad_three a {
    margin-top: -0.8em;
    margin-left: 0.5em;
    animation:iikkk 2s infinite linear;
}
@keyframes iikkk{
    0%{
        color:red;
    }
    10% {
        color:rebeccapurple;
    }
    20% {
        color: purple;
    }
    30% {
        color: yellow;
    }
    40% {
        color: saddlebrown;
    }
   50% {
        color: orchid;
    }
    60% {
        color: red;
    }

    70% {
        color: rebeccapurple;
    }

    80% {
        color: purple;
    }

    90% {
        color: yellow;
    }

    100% {
        color: saddlebrown;
    }
}




.three_all{
    margin-top:-1em;
    margin-left:0.6em;
    z-index:9999;
    background-color:red;
    padding-top:1em;
}

.three_all li{
    padding:9px;
    height:30px;
    width:100%;
    background-color:red;
    border-bottom:solid 1px black;
    box-shadow:2px 2px 2px black;
}
    .three_all li:hover {
        background-color: #485263;
        border-left: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        box-shadow: 2px 2px 2px yellow;
    }

.three_all li a{
    letter-spacing:3px;
}