
@{
    ViewBag.Title = "NewNewsIndex";
}

<head>

    <link href="~/Content/css/Foreground/NewNews/NewNewsStyle.css" rel="stylesheet" />
    @*<link href="~/Content/css/bootstrap/bootstrap.css" rel="stylesheet" />*@
    <style>
        a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <!--过渡条。。过渡线-->
    <div class="progress_NewNews"></div>
    <!--标签导航 我的首页/最新资讯-->
    <div class="nav_NewNews_top">
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li class="active">
                最新资讯
            </li>
        </ul>
    </div>
    <!--最新资讯DIV-->
    <div class="News_bosy_div_all">

        <h2 class="News_bosy_div_h2"><span>最新资讯</span></h2>
        <!--左边60%区域-->
        <div class="News_bosy_div_all_2">
            <div class="News_bosy_div_all_sign1">
                <h5 class="News_bosy_div_all_sign1_a">
                    <span>
                        <a href="../Home/HomeIndex">我的主页</a>
                    </span> <span class="News_bosy_div_all_span_1">/</span>
                    <span class="News_bosy_div_all_span_2">全部资讯</span>
                </h5>


                <!-- 完成以下需要数据---------------------------------------------------------------------------------->
                <form></form>

            </div>


        </div>
        <!--右边20%区域-->
        <div class="News_bosy_div_all_3">
            <div class="span_oil_all_right">
                <div class="right_heixian_only_one"></div>
                <div class="News_bosy_right_1"> <span>今日最新</span></div>
                <div class="right_heixian_only_two"></div>
            </div>

            <div class="span_oil_all_right">
                <div class="right_heixian_only_one"></div>
                <div class="News_bosy_right_2"> <span>本周最新</span></div>
                <div class="right_heixian_only_two"></div>
            </div>

            <div class="span_oil_all_right">
                <div class="right_heixian_only_one"></div>
                <div class="News_bosy_right_3"> <span>本月更新</span></div>
                <div class="right_heixian_only_two"></div>

            </div>
        </div>
    </div>

    <!--联系淘宝客服-->
    <div class="div_body" data-spm="1-b-s">
        <div class="shop-tmall" id="page">
            <div class="eshop head-expand tb-shop" id="content">
                <div id="bd">
                    <div class="layout grid-m0 J_TLayout" data-id="15577930599" data-prototypeid="231" data-componentid="231" data-widgetid="15577930599" data-sitecategory="" data-context="bd">
                        <div class="col-main">
                            <div class="main-wrap J_TRegion" style="overflow:visible;" data-width="b950" data-modules="main">
                                <div class="J_TModule J_TScriptedModule " id="shop15578087219" data-spm="110.0.11711259-15578087219" microscope-data="11711259-15578087219" data-componentid="11711259" data-widgetid="15578087219" data-title="战国策_创意装修工具_全屏海报">
                                    <div class="tb-module tshop-um tshop-um-zgc" style="min-height:10px;">
                                        <div class="wd_self_rel working wd_self_suspen1920" style="height:auto;" data-title="战国策魔板装修工具" data-moduleid="16532" data-fy="0" data-fx="0" data-st="C">
                                            <table align="center" style="margin:0 auto;" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div style="width:1920px;height:115px;background-image:url(//gdp.alicdn.com/imgextra/i3/723456827/TB2UXuEeNeK.eBjSZFlXXaywXXa_!!723456827.png);background-position:0% 0%;background-repeat:no-repeat;position:relative;margin:0 auto;overflow:hidden;">
                                                                <div class="gm-box abs" style="width:30px;height:21px;left:647px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-1480061562485641 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                        <div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                            <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E5%8E%A8&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"><img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%D0%A1%B3%F8&amp;site=cntaobao&amp;s=2"></a>
                                                                            <a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E5%8E%A8&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gm-box abs" style="width:30px;height:21px;left:776px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-14800616388795833 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;"><div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;"><a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E7%A2%97&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"><img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%D0%A1%CD%EB&amp;site=cntaobao&amp;s=2"></a><a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E7%A2%97&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"></a></div></div>
                                                                </div><div class="gm-box abs" style="width:30px;height:21px;left:713px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-14800616493813255 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                        <div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                            <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E5%8B%BA&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank">
                                                                                <img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%D0%A1%C9%D7&amp;site=cntaobao&amp;s=2">
                                                                            </a>
                                                                            <a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E5%8B%BA&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"></a>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gm-box abs" style="width:30px;height:21px;left:840px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-14800616928591090 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                        <div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                            <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E7%9B%86&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank">
                                                                                <img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%D0%A1%C5%E8&amp;site=cntaobao&amp;s=2">
                                                                            </a>
                                                                            <a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E7%9B%86&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gm-box abs" style="width:30px;height:21px;left:965px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-14800617362468674 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                        <div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                            <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E6%9F%B4&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"><img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%D0%A1%B2%F1&amp;site=cntaobao&amp;s=2"></a>
                                                                            <a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E6%9F%B4&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gm-box abs" style="width:30px;height:21px;left:902px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-14800617492386216 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                        <div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                            <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E9%94%85&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank">
                                                                                <img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%D0%A1%B9%F8&amp;site=cntaobao&amp;s=2">
                                                                            </a>
                                                                            <a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E9%94%85&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gm-box abs" style="width:30px;height:21px;left:1031px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-14800617932739871 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                        <div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                            <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E7%B1%B3&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank">
                                                                                <img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%D0%A1%C3%D7&amp;site=cntaobao&amp;s=2">
                                                                            </a><a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E7%B1%B3&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gm-box abs" style="width:30px;height:21px;left:1168px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-14800618191405976 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">

                                                                        <div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                            <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E9%A3%98%E9%A3%98&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank">
                                                                                <img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%C6%AE%C6%AE&amp;site=cntaobao&amp;s=2">
                                                                            </a><a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E9%A3%98%E9%A3%98&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="gm-box abs" style="width:30px;height:21px;left:1091px;top:65px;">
                                                                    <div class="gm-inner atrans20 gm-pop-14800618278415378 mouse" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">

                                                                        <div class="gm-tx-common _trans" style="width:30px;height:21px;overflow:hidden;transition-duration:0.5s;transition-timing-function:linear;">
                                                                            <a href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E6%B2%B9&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank">
                                                                                <img style="display:inline-block;vertical-align:middle;" alt="点这里给我发消息" src="//amos.alicdn.com/online.aw?v=2&amp;uid=%C3%E2%B7%D1%CE%E7%B2%CD%B9%AB%D2%E6%B5%EA%3A%D0%A1%D3%CD&amp;site=cntaobao&amp;s=2">
                                                                            </a>
                                                                            <a style="display:inline-block;text-decoration:none;vertical-align:middle;color:#333;" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=%E5%85%8D%E8%B4%B9%E5%8D%88%E9%A4%90%E5%85%AC%E7%9B%8A%E5%BA%97:%E5%B0%8F%E6%B2%B9&amp;siteid=cntaobao&amp;status=1&amp;charset=utf-8&amp;scene=taobao_shop" target="_blank"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


















