
@{
    ViewBag.Title = "CapitalIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Charity.Model.Tuseraccount
<head>
    <title>Charity-资金捐助</title>
    <link href="~/Content/css/Foreground/Capital/CapitalStyle.css" rel="stylesheet" />
    <link href="~/Content/img/ItemsCollection/default.css" rel="stylesheet" />
    <link href="~/Content/img/ItemsCollection/reset.css" rel="stylesheet" /><!-- CSS reset -->
    <link href="~/Content/img/ItemsCollection/style.css" rel="stylesheet" /><!-- Resource style -->
    <script src="~/Content/img/ItemsCollection/modernizr.js"></script>
    <style>
        body {
            background-color:#d8d8d8;
        }
    </style>
</head>

<body>
    <div id="progress_Capital"></div>
    <!--小导航栏-->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li>
                <a href="../Capital/CapitalIndex"> 募捐系列</a>
            </li>
            <li class="active">
                资金捐款
            </li>
        </ul>
    </div>
    <div class="help_head_img"></div>
    <hr />

    <div class="Capital_select_all">
        <div class="Capital_select_all_left">
            <h3>在线捐款</h3>
        </div>
        <div class="Capital_select_all_right">
            <form class="cd-form floating-labels" action="../Capital/AddMoneyMSG"  method="post" enctype="multipart/form-data">
                    <fieldset>

                        <div class="error-message">
                            <p>募捐信息输入</p>
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-company">捐赠者姓名</label>
                            <input class="company" type="text" id="cd-company" value="@Model.UsName" style="background-color:white;color:#ff6a00" required name="ChrityName" readonly>
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-company">捐赠人身份证</label>
                            <input class="company" type="text" id="cd-company" value="@Model.UsIdcard" style="background-color:white;color:#ff6a00" required name="ChrityIdcard" readonly>
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-company">捐赠人联系方式</label>
                            <input class="company" type="text" id="cd-company" style="background-color:white;color:#ff6a00" required name="ChrityPhone">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-company">捐赠金额</label>
                            <input class="company" type="text" id="cd-company" style="background-color:white;color:#ff6a00" required name="ChrityMoney">
                        </div>
                        <div>
                            <h4>捐赠方式</h4>

                            <ul class="cd-form-list">
                                <li>
                                    <input type="radio" id="cd-radio-1" checked>
                                    <label for="cd-radio-1" style="color:#ff6a00">在线捐赠</label>
                                </li>

                            </ul>
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-textarea"> 备注（字数不得大于500字）</label>
                            <textarea class="message" id="cd-textarea" style="color:#ff6a00" name="ChrityRemark"></textarea>
                        </div>
                        <div>
                            <input type="submit" value="保存提交" style="position:absolute;margin-left:0%;">
                            <button type="reset" class="btn btn-warning" style="margin-left:50%;margin-top:20px;">重置</button>
                        </div>
                    </fieldset>
                </form>
</div>
    </div>
</body>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/img/ItemsCollection/main.js"></script> <!-- Resource jQuery -->