
@{
    ViewBag.Title = "BendShopIndex";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}


<head>
    <link href="~/Content/css/Background/Bendadmin/BendaminStyle.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <style>
        a {
            text-decoration: none;
        }

            a:hover {
                text-decoration: none;
            }
    </style>
</head>

<div class="back_div_color">
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../BendHome/BendHomeIndex">后台主页</a>
            </li>
            <li class="active">
                商品管理
            </li>
        </ul>
    </div>

    <div class="back_div_color_two">

        <table class="table table-striped" align="center" border="1" style="text-align:center">
            <thead>
                <tr style="text-align:center">
                    <th width="15%" style="text-align:center;">物品名称</th>
                    <th width="10%" style="text-align:center;">捐赠人姓名</th>
                    <th width="10%" style="text-align:center;">捐赠人电话</th>
                    <th width="15%" style="text-align:center;">捐赠人证件</th>
                    <th width="20%" style="text-align:center;">更多</th>
                    <th width="10%" style="text-align:center;">创建时间</th>
                    <th width="20%" style="text-align:center;"> 操作</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align:center">
                    <td>1200000</td>
                    <td>艾英明</td>
                    <td>18677395470</td>
                    <td>431102199409203090</td>

                    <td><a href="#">详细请点开....</a></td>

                    <td>2017-7-8</td>

                    <td style="text-align:center">
                        <a href="#">
                            <div class="add_action_one">增加</div>
                        </a>
                        <a href="#">
                            <div class="add_edit_one">修改</div>
                        </a>
                        <a href="#">
                            <div class="add_delect_one">删除</div>
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>
</div>

