
@{
    ViewBag.Title = "BendHomeIndex";
    Layout = "~/Views/Shared/_BackEnd_Layout.cshtml";
}
<head>
    <link href="~/Content/css/Background/BendHome/BendHome.css" rel="stylesheet" />
</head>

<body>

    <div class="Bank_home_font">
       <h1>欢迎进入义卖网后台管理系统！</h1>
    </div>

    <div class="Bank_home_png_icon">
        <img src="~/Content/img/BendHome/主页.png" />
        <h6>首页</h6>
    </div>
    
</body>

