body {
    background-color: azure;
}



#progress_Market {
    height: 3px;
    border-radius: 90px;
    animation: Marketpulse 4s infinite;
    position: absolute;
    margin-top: -1.3em;
}

@keyframes Marketpulse {
    0% {
        width: 0;
        background: cyan;
    }

    20% {
        background: #808080;
    }

    40% {
        background: #f3e208;
    }

    60% {
        background: #a70d7e;
    }

    80% {
        background: #7603ca;
    }

    100% {
        width: 100%;
        background: #b6ff00;
    }
}

.breadcrumb {
    padding: 8px 15px;
    /*margin-bottom: 20px;*/
    list-style: none;
    margin-top: -1.2em;
    /*background-color: #f5f5f5;*/
    border-radius: 0px;
    /*border-bottom: dashed 1px #dadde3;*/
    z-index: 88;
    background-color: #d01212;
}

    .breadcrumb > li {
        display: inline-block;
    }

        .breadcrumb > li + li:before {
            padding: 0 5px;
            color: #cccccc;
            content: "/\00a0";
        }

    .breadcrumb > .active {
        color: #999999;
    }

.help_head_img {
    background: url('../../../img/Market/1.png')no-repeat center center #203643;
    width: 100%;
    height: 287px;
    min-width: 1280px;
    overflow: hidden;
    margin-top: -20px;
}

.body_little_2 {
    width: 100%;
    height: 900px;
    background-color:azure;
}

.area_one {
    width: 80%;
    height: 850px;
    background-color: white;
    margin: 5% 10%;
    /*margin-bottom:20px;*/
    border: solid 8px #808080;
}

.main_left_one_nav {
    width: 173px;
    height: 457px;
    float: left;
    display: inline;
    background: url('../../../img/Market/sub-menu-bg.png') no-repeat;
    margin-left: 5%;
    margin-top: -1.8%;
}

.main-menu-title {
    width: 139px;
    height: 30px;
    line-height: 30px;
    margin: 57px 17px 22px 17px;
    color: #ea0caf;
    font-size: 21px;
    font-weight: 800;
    text-align: center;
}

.main-menu-item {
    width: 93px;
    height: 36px;
    line-height: 36px;
    margin: 0px 32px;
    padding: 0px 8px;
    border-bottom: 1px solid #73665c;
    text-align: center;
}

    .main-menu-item a {
        color: #f3e208;
        font-size: 18px;
    }

        .main-menu-item a:hover {
            color: cyan;
        }

.web-address {
    width: 780px;
    height: 45px;
    line-height: 45px;
    margin-left: 25%;
    margin-top: 3%;
}

    .web-address ul {
        margin-top: 14px;
    }

ul {
    list-style-type: none;
}

.web-address-home {
    width: 47px;
    height: 16px;
    line-height: 14px;
    margin-right: 11px;
    text-align: center;
    background: url('../../../img/Market/link-bg.png') center center no-repeat;
    float: left;
}

.web-address-item {
    width: auto;
    height: 17px;
    line-height: 14px;
    padding-left: 20px;
    padding-right: 7px;
    background: url('../../../img/Market/link-mark.jpg') left center no-repeat;
    float: left;
}

.body_little_3 {
    width: 70%;
    height: 85%;
    /*background-color:antiquewhite;*/
    margin-left: 26%;
}

.main-content-top {
    width: 100%;
    height: 25px;
    background: url('../../../img/Market/sub-content-top-bg.png') no-repeat;
}

.main-content-middle {
    width: 100%;
    padding: 10px 10px 10px 10px;
    background: url('../../../img/Market/sub-content-middle-bg.png');
    min-height:99%;
}

.main-content-bottom {
    width: 100%;
    height: 25px;
    background: url('../../../img/Market/sub-content-bottom-bg.png') no-repeat;
    margin-bottom: 40px;
}

.lookxiangqing{
    /*position:absolute;*/
    margin-left:59%;
    margin-top:-23%;
    padding-bottom:0px;
}

.img_show_qu{
    height:120px;
    width:100%;
    background-color:aquamarine;
}
.img_size {
    height: 120px;
    width: 100%;
}
.shop_tital {
    padding: 10px 2px;
    font-size: 20px;
}
.shop_value{
    position:absolute;
    color:red;
    margin-top:-26px;
    margin-left:60%;
}
.font_style {
    font-weight: 600;
    color: brown;
    text-shadow: 1px 2px 2px brown;
}

.font_style_1 {
    font-weight: 600;
    color: #b6ff00;
    text-shadow: 1px 2px 2px brown;
}