@{
    ViewBag.Title = "MarketIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Charity-义卖超市</title>
    <link href="~/Content/css/Foreground/Market/MarketStyle.css" rel="stylesheet" />
</head>

<body>
    <div id="progress_Market"></div>
    <!--小导航栏-->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li>
                <a href="../Market/MarketIndex">义卖专区</a>
            </li>
            <li class="active">
                义卖超市
            </li>
        </ul>
    </div>
    <div class="help_head_img"></div>

    <div class="body_little_2">
        <div class="area_one">
            <div class="main_left_one_nav">
                <div class="main-menu-title">义卖物品分类</div>
                <div class="main-menu-item"><a href="#">衣物</a></div>
                <div class="main-menu-item"><a href="#">书类</a></div>
                <div class="main-menu-item"><a href="#">电子</a></div>
                <div class="main-menu-item"><a href="#">家居</a></div>
                <div class="main-menu-item"><a href="#">收藏</a></div>
                <div class="main-menu-item"><a href="#">其他</a></div>
            </div>

            <div class="web-address">
                <ul>
                    <li class="web-address-home"><a href="../Home/HomeIndex">首页</a></li>
                    <li class="web-address-item"><a href="../Market/MarketIndex">义卖超市</a></li>
                </ul>
            </div>

            <div class="body_little_3">
                <div class="main-content-top"></div>
                <div class="main-content-middle"></div>
                <div class="main-content-bottom"></div>
            </div>



        </div>
    </div>
</body>