@{
    ViewBag.Title = "loveBIZIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Charity-爱心团队</title>
    <!--幻灯片链接-->
    <link href="~/Content/css/Foreground/loveBIZ/loveBIZStyle.css" rel="stylesheet" />
    <script src="~/Content/js/Foreground/loveBIZ/loveBIZ.js" defer></script>
    <link href="~/Content/css/Foreground/loveBIZ/slideStyle.css" rel="stylesheet" />
    <!--图标链接-->
    <link href="~/Content/js/Foreground/loveBIZ/sponsor/styles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/Foreground/loveBIZ/sponsor/jquery.flip.min.js" defer></script>
    <script src="~/Content/js/Foreground/loveBIZ/sponsor/script.js" defer></script>
</head>

<body>
    <div id="progress_loveBIZIndex"></div>

    <!--小导航栏-->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li>
                <a href="../loveBIZ/loveBIZIndex"> 爱心系列</a>
            </li>
            <li class="active">
                爱心团队
            </li>
        </ul>
    </div>

    <!-- 盒子-->
    <div id="text" class="huangdengpian"></div>
    <div class="body_three_sit">
        <p class="friends_shangye_font">合作伙伴</p>
        <hr class="biaoqian_sahngye" />
    </div>
    <div>
        <div id="main">
            <div class="sponsorListHolder">

                <!--图标1-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/adobe.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            Adobe 创建于1982年，是世界领先数字媒体和在线营销方案的供应商。
                        </div>
                        <div class="sponsorURL">
                            <a href="http://www.adobe.com/cn/">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标2-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/canon.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            佳能（Canon ），是日本的一家全球领先的生产影像与信息产品的综合集团。
                        </div>
                        <div class="sponsorURL">
                            <a href="http://www.canon.com.cn/" target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标3-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/cisco.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            思科公司是全球领先的网络解决方案供应商。Cisco的名字取自San Francisco。
                        </div>
                        <div class="sponsorURL">
                            <a href="https://www.cisco.com/" target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标4-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/dell.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            戴尔（Dell），是一家总部位于美国德克萨斯州朗德罗克的世界五百强企业。
                        </div>
                        <div class="sponsorURL">
                            <a href="http://www1.ap.dell.com" target="_blank">点击进入</a>

                        </div>
                    </div>
                </div>

                <!--图标5-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/digg.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            digg是网络最新名词，中文翻译为“掘客”，或者“顶格”，鼻祖是美国digg公司
                        </div>
                        <div class="sponsorURL">
                            <a href="http://digg.com/"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标6-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/ea.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            游戏是一种基于物质需求满足之上的，在一种特定时间、空间范围内遵循某种特定规则的。
                        </div>
                        <div class="sponsorURL">
                            <a href="www.baidu.com"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标7-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/ebay.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            eBay（EBAY，中文电子湾、亿贝、易贝）是一个管理可让全球民众上网买卖物品的线上拍卖及购物网站.
                        </div>
                        <div class="sponsorURL">
                            <a href="http://www.ebay.cn/"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标8-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/facebook.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            Facebook是美国的一个社交网络服务网站 ，于2004年2月4日上线.
                        </div>
                        <div class="sponsorURL">
                            <a href="#"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标9-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/google.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            谷歌是Google公司开发的互联网搜索引擎。
                        </div>
                        <div class="sponsorURL">
                            <a href="#"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标10-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/hp.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            惠普公司（Hewlett-Packard Development Company, L.P.，简称HP）总部位于美国加利福尼亚州的帕罗奥多。
                        </div>
                        <div class="sponsorURL">
                            <a href="http://www8.hp.com/cn/zh/home.html"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图11-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/microsoft.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            微软的使命和价值观是帮助全球的个人和企业充分发挥自己的潜力。
                        </div>
                        <div class="sponsorURL">
                            <a href="https://www.microsoftstore.com.cn/"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标12-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/mysql.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            MySQL是一个关系型数据库管理系统，由瑞典MySQL AB 公司开发，目前属于 Oracle 旗下产品。
                        </div>
                        <div class="sponsorURL">
                            <a href="https://www.mysql.com/"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标13-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/sony.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            索尼（日语：ソニー株式会社，英语：Sony Corporation），是日本一家全球知名的大型综合性跨国企业集团。
                        </div>
                        <div class="sponsorURL">
                            <a href="http://www.sony.com.cn/aboutsony/story.htm"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标14-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/vimeo.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            Vimeo是一个高清视频播客网站。
                        </div>
                        <div class="sponsorURL">
                            <a href="#"  target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>

                <!--图标15-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/yahoo.png" />
                    </div>
                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            雅虎（Yahoo!，NASDAQ：YHOO）是美国著名的互联网门户网站，也是20世纪末互联网奇迹的创造者之一。
                        </div>
                        <div class="sponsorURL">
                            <a href="https://www.yahoo.com/"   target="_blank">点击进入</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <hr class="biaoqian_sahngye" />
    <div class="height_shangye"></div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/js/Foreground/loveBIZ/jquery-slideShow.js"></script>
    <script>
        var image = ["../Content/img/loveBIZ/1.png", "../Content/img/loveBIZ/2.png", "../Content/img/loveBIZ/3.png", "../Content/img/loveBIZ/4.png"];
        var href = ["#", "#"];
        $("#text").slide({
            images: image,//必选
            autoPlay: true,
            href: href,
            // height:200,//可指定轮播图高度
            interval: 6000
        });
    </script>





</body>