@{
    ViewBag.Title = "loveBIZIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title>Charity-爱心团队</title>
    <!--幻灯片链接-->
    <link href="~/Content/css/Foreground/loveBIZ/loveBIZStyle.css" rel="stylesheet" />
    <script src="~/Content/js/Foreground/loveBIZ/loveBIZ.js" defer></script>
    <link href="~/Content/css/Foreground/loveBIZ/slideStyle.css" rel="stylesheet" />
    <!--图标链接-->
    <link href="~/Content/js/Foreground/loveBIZ/sponsor/styles.css" rel="stylesheet" />

    <script src="~/Content/js/Foreground/loveBIZ/sponsor/jquery1.7.2.min.js" defer></script>
    <script src="~/Content/js/Foreground/loveBIZ/sponsor/jquery1.7.2-ui.min.js" defer></script>

    <script src="~/Content/js/Foreground/loveBIZ/sponsor/jquery.flip.min.js" defer></script>
    <script src="~/Content/js/Foreground/loveBIZ/sponsor/script.js" defer></script>

</head>

<body>

    <div id="progress_loveBIZIndex"></div>

    <!--小导航栏-->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li>
                <a href="../loveBIZ/loveBIZIndex"> 爱心系列</a>
            </li>
            <li class="active">
                爱心团队
            </li>
        </ul>
    </div>
    <!-- 盒子-->
    <div id="text" class="huangdengpian"> </div>

    <div class="body_three_sit">
        <p class="friends_shangye_font">商业伙伴</p>
        <hr class="biaoqian_sahngye" />
    </div>


    <div>
        <div id="main">
            <div class="sponsorListHolder">


                <!--图标1-->
                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/adobe.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>
                </div>


                <!--图标2-->
                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/canon.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>

                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>


                <!--图标3-->
                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/cisco.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>

                <!--图标4-->
                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/dell.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>


                <!--图标5-->
                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/digg.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>

                <!--图标6-->
                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/ea.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>

                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>
                </div>


                <!--图标7-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/ebay.png" />
                    </div>



                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>

                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>
                </div>


                <!--图标8-->
                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/facebook.png" />
                    </div>



                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>

                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>

                    </div>

                </div>


                <!--图标9-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/google.png" />
                    </div>

                    <div class="sponsorData">

                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>

                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>

                <!--图标10-->

                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/hp.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>

                <!--图11-->

                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/microsoft.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>

                <!--图标12-->

                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/mysql.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>

                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>
                </div>


                <!--图标13-->
                <div class="sponsor" title="Click to flip">

                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/sony.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>


                <!--图标14-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/vimeo.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>
                </div>

                <!--图标15-->
                <div class="sponsor" title="Click to flip">
                    <div class="sponsorFlip">
                        <img src="~/Content/img/loveBIZ/sponsor/yahoo.png" />
                    </div>

                    <div class="sponsorData">
                        <div class="sponsorDescription">
                            One of the biggest computer manufacturs
                        </div>
                        <div class="sponsorURL">
                            <a href="www.jq22.com">www.jq22.com</a>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <hr class="biaoqian_sahngye" />
    <div class="height_shangye"></div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/js/Foreground/loveBIZ/jquery-slideShow.js"></script>
    <script>
        var image = ["../Content/img/loveBIZ/1.png", "../Content/img/loveBIZ/2.png", "../Content/img/loveBIZ/3.png", "../Content/img/loveBIZ/4.png"];
        var href = ["#", "#"];
        $("#text").slide({
            images: image,//必选
            autoPlay: true,
            href: href,
            // height:200,//可指定轮播图高度
            interval: 6000
        });
    </script>





</body>