@{
    ViewBag.Title = "ContactUsIndex";
}
<head>
    <title>Charity-联系我们</title>
    <link href="~/Content/css/Foreground/ContactUs/ContactUsStyle.css" rel="stylesheet" />
</head>

<body>
    <div id="progress_contactUs"></div>

    <div class="top_contUS_img"></div>

    <div class="nav_ContactUs_top">
        <ul class="breadcrumb">
            <li>
                <a href="../Home/HomeIndex">我的首页</a>
            </li>
            <li class="active">
                联系我们
            </li>
        </ul>
    </div>

    <div class="content">

        <div class="list bottom">
            <p class="title">合作</p><br>

            <div class="cont_two" >
                <p>资管业务联系：QQ 3137783829</p>
                <p>券商交易合作：000-1111-999</p>
                <p>媒体采访联系：<a href="mailto:AiyeroKing@163.com" style="color:darkkhaki;">AiyeroKing@163.com</a></p>
                <p>广告商务合作：QQ 578953480</p>
            </div>
        </div>

        <div class="list bottom social" style="padding-bottom: 13em;">
            <p class="title">官方账号</p>

            <div class="cont_two">
                <a class="sina" href="http://weibo.com" target="_blank"><img src="~/Content/img/ContactUs/微博图标.png"><span>义卖网</span></a>
                <div class="qrcode"><img class="qrcode" src="~/Content/img/ContactUs/微信二维码.png"></div>
                <div class="wechat"><img src="~/Content/img/ContactUs/微信图标.png"><span>关注义卖网微信公众号</span></div>
            </div>
        </div>

        <div class="list bottom">
            <p class="title">联系方式</p><br>

            <div class="cont_two">
                <p>电话：+86 (999) 00000000</p>
                <p>邮箱：<a href="mailto:AiyeroKing@163.com" style="color:darkkhaki;">AiyeroKing@163.com</a></p>
                <p>小秘书：<a href="mailto:AiyeroKing@outlook.com" style="color:darkkhaki;">AiyeroKing@outlook.com</a></p>
            </div>
        </div>

        <div class="list">
            <p class="title">地址</p>

            <div class="cont_two">
                <p>桂林电子科技大学信息科技学院尧山校区 3号公寓楼 3座3层（编号 33302）</p>
            </div>
        </div>
    </div>
</body>


