
/*全局body标签属性*/
body {
    margin: 0;
    padding: 0;
}
/*全局a标签属性*/
a{
    text-decoration: none;
}
/*最上层导航栏底色属性*/
.topside_bottom {
    position: absolute;
    width: 100%;
    height: 3em;
    opacity: 0.3;
    border-bottom: 2px solid #C1C1C1;
    z-index: -10;
    background-color: #E8E8E8;
}
/*最上层导航栏表层属性*/
.topside {
    width: 100%;
    height:3em;
}
/*最上层导航栏左边表层属性*/
.topside_left {
    position: absolute;
    width: 30%;
    left: 12%;
}
/*最上层导航栏---左边--表层--文字div--属性*/
.left_font {
    position: absolute;
    margin-top: -1.8em;
    padding-left: 3em;
    animation: changesizecolor 8s linear 0s infinite;
}
/*最上层导航栏---左边--表层--字体--属性*/
 .left_font > a {
        font-size: 1.2em;
        font-family: "MicrosoftYaHei";
        letter-spacing:0.25em;
        color: #707070;
        font-weight: 500;
        animation: changesizecolor 6s linear 1.5s infinite;
    }
/*最上层导航栏---左边--表层--字体动画--属性*/
@keyframes changesizecolor {
    0% {
        color: #8B8B83;
    }

    25% {
        color: #528B8B;
    }

    50% {
        color: #EEDFCC;
    }

    75% {
        color: #cf0;
    }

    100% {
        color: #707070;
    }
}
/*最上层导航栏---左边--表层--星星图片--属性*/
.left_png {
    width: 5.8%;
    animation: changepng 4s linear 0s infinite;
}
/*最上层导航栏---左边--表层--星星图片动画--属性*/
@keyframes changepng {
    0% {
        opacity: 1.0; /*透明度*/
    }

    25% {
        opacity: 0.5; /*透明度*/
    }

    50% {
        opacity: 0; /*透明度*/
    }

    75% {
        opacity: 0.5; /*透明度*/
    }

    100% {
        opacity: 1.0; /*透明度*/
    }
}
/*最上层导航栏右边边表层属性*/
.topside_right {
    position: absolute;
    width: 30%;
    height: 2em;
    text-align: right;
    right: 13%;
}
/*文字--微信--div*/
.png_size1 {
    position: absolute;
    margin-top:-1.8em;
    right: 8.5em;
}
/*字体--微信--a*/
.png_size1 > a {
        font-size: 1em;
        color: #707070;
    }
/*文字--QQ--div*/
.png_size2 {
    position: absolute;
    margin-top: -1.8em;
    right: 2.5em;
}
/*字体--QQ--a*/
.png_size2 > a {
        font-size: 1em;
        color: #707070;
    }
/*文字--微博--div*/
.png_size3 {
    position: absolute;
    margin-top: -1.75em;
    right: -4.3em;
    font-family: 'Microsoft YaHei'；
}
/*字体--微博--a*/
.png_size3 > a {
        font-size: 1em;
        color: #707070;
    }
/*文字--所有--移动改变属性--hover*/
.png_size1 > a:hover, .png_size2 > a:hover, .png_size3 > a:hover {
        color: cyan;
        transition: all 0.15s linear;
    }
/*文字--所有--点击改变属性--active*/
.png_size1 > a:active, .png_size2 > a:active, .png_size3 > a:active {
        color: red;
        transition: all 0.15s linear;
    }
/*信息--小图标--有色图片--属性*/
.Messagepng {
    position: absolute;
    width: 4%;
    margin-top: 0.75em;
    right: 38%;
}
/*QQ等图标有色属性*/
.QQpng {
    padding-left: 4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 13%;
}
/*分隔线-div-属性*/
.fenge_div {
    position: absolute;
    margin-top: -1.92em;
    right: -11%;
}
/*分隔线-div-属性*/
.fenge1_div {
    position: absolute;
    margin-top: -1.92em;
    right: 45%;
}
/*分隔线-div-属性*/
.fenge2_div {
    position: absolute;
    margin-top: -2em;
    right: 35%;
}
/*分隔线--属性*/
.fenge {
    padding: 22px 0px 9px 2px;
    margin-left: 7px;
    font-size: 0;
    box-shadow: 1.1px 0px 0px #E5E5E5;
}
/*最右上角--国旗图标--div*/
.chinapng {
    position: relative;
    height: 35px;
    width: 80px;
    margin-left: 91%;
    margin-top: -2.3em;
    z-index: 2;
}
/*最右上角--国旗图标--属性*/
.chinapng > img {
        position: absolute;
        width: 50%;
        margin-top: -0.5em;
    }
/*最右上角--语言文字--属性*/
.chinapng > span {
        font-size: 1.25em;
        font-family: "MicrosoftYaHei";
        letter-spacing: 4px;
        color: #707070;
        font-weight: 500;
    }
/*-id--弹出二维码--微信--div--*/
#Charityweixin {
    display: none;
    position: absolute;
    z-index: 100;
    margin-top: -2em;
    right: 7.1em;
    transition: all 2s linear;
}
/*-id--弹出二维码--微信--微博--QQ--图片--*/
#Charityweixin > img, #Charityqq > img, #Charityweibo > img {
        width: 50%;
    }
/*-id--弹出二维码--QQ--div--*/
#Charityqq {
    display: none;
    position: absolute;
    z-index: 100;
    margin-top: -2em;
    right: 2.5em;
    transition: all 0.3s linear;
}
/*-id--弹出二维码--微博--div--*/
#Charityweibo {
    display: none;
    position: absolute;
    text-align: right;
    z-index: 100;
    margin-top: -2em;
    right: 10em;
    transition: all 0.3s linear;
}
/*透明导航栏底色*/
.nvb_black {
    width: 100%;
    position: fixed;
    background-color: black;
    height: 5em;
    opacity: 0.8; /*透明度*/
    margin-top: -0.3em;
    z-index: 10;
}
