
@{
    ViewBag.Title = "Fuxieyi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="width:90%;margin-left:5%;margin-top:2%;">
    <div class="wrap">
        <div class="changyan">
            <h1 style="text-align:center">爱心义卖网服务协议</h1>
            <br />
            <div>
                <h3><strong>一、总则</strong></h3>
                <p>1. 为使用爱心义卖公众平台服务（下简称“本服务”），您应当阅读并遵守《爱心义卖公众平台服务协议》（以下简称“本协议”），以及《爱心义卖服务协议》、《爱心义卖网站保护隐私权之声明》等内容。</p>
                <p>2. 本协议系您与北京爱心义卖互联网信息服务有限公司和北京爱心义卖新媒体信息技术有限公司（以下简称“爱心义卖公司”）之间就爱心义卖公众平台注册、登录及使用等事宜所订立的权利义务规范。</p>
                <p>3. 请您仔细阅读以下全部内容，您点选“同意”键并完成注册、登录，即视为已完全同意并接受本协议，并愿受其约束；若不同意本协议的任何条款，请不要点选“同意”，也不要使用爱心义卖公众平台的任何服务。如您是未成年人，您还应要求您的监护人仔细阅读本协议，并取得他/他们的同意。 </p>
                <p>4. 本协议视为《爱心义卖服务协议》的补充协议，是其不可分割的组成部分，本协议与《爱心义卖服务协议》不一致的，以本协议为准。</p>
                <p>5. 本协议内容同时包括爱心义卖公司可能不断发布的关于爱心义卖公众平台服务的相关协议、声明、业务规则及公告指引等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。</p>
                <h3><strong>二、定义</strong></h3>
                <p>1. 您：指提交有效申请并经爱心义卖公司审核同意，在爱心义卖公众平台上传、发布内容（包括文字、图片、音频、视频等）的自然人、法人或其他组织。</p>
                <p>2. 爱心义卖公众平台：是爱心义卖公司融合爱心义卖网、爱心义卖新闻客户端和手机爱心义卖网为您提供的集媒体刊物出版、内容展现和广告服务的平台产品。</p>
                <p>3. 爱心义卖网：指爱心义卖公司所有或经营的网站，网址包括但不限于www.sohu.com、www.chinaren.com、www.focus.cn、www.goodfeel.com.cn、www.go2map.com等。 </p>
                <p>4. 爱心义卖新闻客户端：爱心义卖公司出品的一款为智能手机用户量身打造的“订阅平台+实时新闻”阅读应用。</p>
                <p>5. 手机爱心义卖网：指爱心义卖公司所有或经营的网站，网址为m.sohu.com。</p>
                <p>6. 用户：指所有直接或间接使用爱心义卖网、爱心义卖新闻客户端和手机爱心义卖网的终端用户。</p>
                <h3><strong>三、账户注册和核准</strong></h3>
                <p>1. 在使用本服务前，您需要以真实身份信息注册爱心义卖公众平台账号，并及时更新您的注册资料。注册的同时，您需要提供与注册信息相符的相关的身份及资质证明材料，爱心义卖公司将在审查您提交的相关证明材料后决定是否核准您的注册申请。个人账户需提供个人手持身份证照片，机构账户除提供加盖单位公章的企业法人营业执照副本复印件或事业单位法人证书复印件外，还应提供相关证明材料，如版权方的授权文件等。</p>
                <p>2. 爱心义卖公司核准您的注册申请后，您可以依据爱心义卖公司核准的账号及密码登录并使用爱心义卖公众平台，上传或发布相关内容。平台账号归爱心义卖公司所有，您获得该账号的使用权，使用权仅属于初始申请对象，禁止赠与、借用、租用、转让或售卖。</p>
                <p>3. 爱心义卖公司仅对您提交的信息和资料进行审核，并不对您账号内发生的行为承担任何责任或提供任何担保。</p>
                <p>4. 如您违反相关法律法规、本协议及爱心义卖公司发布的其他爱心义卖公众平台的规定，爱心义卖公司有权进行独立判断并随时限制、冻结或终止您对爱心义卖公众平台账号的使用，且根据实际情况决定是否恢复使用。由此给您带来的损失（包括但不限于通信中断、用户资料及相关数据清空等），由您自行承担。</p>
                <h3><strong>四、您的权利和义务</strong></h3>
                <p>1. 您保证提供给爱心义卖公司的注册信息和材料真实、完整、合法、有效，并对所有提供的信息和材料承担全部法律责任。</p>
                <p>2. 您应按照爱心义卖公众平台公布和提示的规则、流程进行注册操作。注册完成后，应妥善保管、正确和安全的使用账号和密码，您同意在任何情况下不向他人透露账号和密码信息，因您保管不善导致账号密码被盗的，责任由您自行承担。如账号和密码遭到第三方使用或发生其他任何问题，您有义务及时通知爱心义卖公司。</p>
                <p>3. 您保证对在爱心义卖公众平台上传、发布的所有内容享有合法权益，爱心义卖公司有权要求您提供相应的权属证明。</p>
                <p>4. 您理解并同意，为保证爱心义卖公众平台的正常运营及用户的良好体验，您不得利用爱心义卖公众平台制作、上传、发布、传播任何法律、法规和政策禁止的信息，或含有其他干扰爱心义卖公司正常运营和侵犯第三方合法权益的内容。</p>
                <p>5. 您理解并同意，您需要对您账号下发生的一切活动承担全部法律责任，包括但不限于注册登录、申请审核、账号运营、内容发布以及其他任何使用爱心义卖公众平台账号所进行的行为。若您的行为引发纠纷或侵犯了任何第三方的合法权益，由您独立承担全部责任，因此给爱心义卖公司或其他第三方造成损害的，您应该依法予以赔偿。</p>
                <p>6. 您理解并同意，爱心义卖公司不对您在本服务中相关数据的删除或储存失败负责，请您自行备份本服务中的相关数据。如果您停止使用本服务或服务被终止的，爱心义卖公司可以从服务器上永久地删除您的数据。 </p>
                <p>7. 您理解并同意，您的内容通过爱心义卖公众平台一经发布即向公众传播和共享，可能会被其他第三方复制、转载、修改或做其他用途，您应充分意识到此类风险的存在，任何您不愿被他人获知的信息都不应在爱心义卖公众平台发布。如果相关行为侵犯了您的合法权益，您可以向爱心义卖公众平台投诉，我们将依法进行处理。</p>
                <p>8. 若您需要在爱心义卖公众平台进行品牌推广或投放商业广告，必须得到爱心义卖公司的书面同意，且推广内容必须经过爱心义卖公司审核。</p>
                <p>9. 本协议未授予您使用爱心义卖任何商标、服务标记、标识、域名和其他显著品牌特征的权利。</p>
                <h3><strong>五、爱心义卖公司的权利和义务</strong></h3>
                <p>1. 爱心义卖公司有权核实您的注册信息和材料，如发现该等信息和材料中存在任何问题，可要求您改正或补充相关材料。如果您拒绝改正或补充相关材料，爱心义卖公司有权做出不予批准注册申请，限制、冻结或终止账号等处理。</p>
                <p>2. 爱心义卖公司为爱心义卖公众平台的开发、运营提供技术支持。</p>
                <p>3. 爱心义卖公司保留随时变更或终止爱心义卖公众平台服务的权利，并无需向您承担任何责任。爱心义卖公司可通过网页公告、电子邮件、电话或信件传送等方式向您发出通知，该等通知在发送时即视为已送达收件人。</p>
                <p>4. 如果爱心义卖公司发现或收到第三方举报或投诉您违反本协议约定的，爱心义卖公司有权不经通知随时对相关内容进行删除，并视行为情节对违规账号处以包括但不限于警告、删除部分或全部订阅用户、限制或禁止使用全部或部分功能、冻结或终止账号的处罚。</p>
                <p>5. 爱心义卖公司有权在爱心义卖公众平台投放各种商业广告或商业信息。</p>
                <p>6. 爱心义卖公司将在您的最终文章或者刊物展示页的下方，为您提供自定义推广位：，此推广位展示的内容为乙方自身形象广告及所办活动推广广告，不得转让给第三方。</p>
                <p>7. 爱心义卖公司可能根据实际需要提供需要您支付一定的费用的收费服务。对此，爱心义卖公司将在相应页面进行通知或公告，只有您根据提示确认您愿意支付相关费用，您才能使用该等收费网络服务。如果您拒绝支付相关费用，则爱心义卖公司有权不向您提供该等收费服务。</p>
                <h3><strong>六、知识产权</strong></h3>
                <p>1. 爱心义卖公司在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归爱心义卖公司所有，爱心义卖公司提供本服务时所依托软件的著作权、专利权及其他知识产权均归爱心义卖公司所有，爱心义卖公司在本服务中所使用的“爱心义卖”等商业标识的著作权或商标权归爱心义卖公司所有。</p>
                <p>2. 您通过爱心义卖公众平台上传、发布的任何内容的知识产权仍然属于您或原始版权人所有。</p>
                <p>3. 对于您通过爱心义卖公众平台上传、编辑或发布的任何内容，爱心义卖公司在全世界范围内不限形式和载体地享有永久的、不可撤销的、免费的、非独家的使用权和转授权的权利，包括但不限于修改、复制、发行、展览、改编、汇编、出版、翻译、信息网络传播、广播、表演和再创作及著作权法等法律法规确定的其他权利，您特别授权爱心义卖公司以自己名义单独对第三方的侵权行为提起诉讼并获得全额赔偿。爱心义卖公司无须为此向您给予任何报酬或承担任何义务，也无须另行通知。</p>
                <p>4. 上述及其他任何本服务包含的内容的知识产权均受到法律保护，其他未经爱心义卖公司、您或相关权利人许可的第三人，不得以任何形式进行使用或创造相关衍生作品。</p>
                <h3><strong>七、其他</strong></h3>
                <p>1. 您和爱心义卖公司均是独立的主体，在任何情况下本协议不构成双方之间的代理、合伙、合营或雇佣关系。</p>
                <p>2. 爱心义卖公司有权在必要时修改本协议条款，您可以在相关服务页面查阅最新版本的协议条款。如您继续使用爱心义卖公众平台，即意味着同意并自愿遵守修改后的协议。</p>
                <p>3. 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
                <p>4. 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决。协商不成时，任何一方均可向爱心义卖公司所在地有管辖权的人民法院提起诉讼。本协议的成立、生效、履行、解释及纠纷解决，都适用于中华人民共和国的法律。</p>
                <p>5. 如双方对于本协议有不同意见，可另行签署协议。该协议与本协议不一致时，以双方另行签署的协议为准。</p><br><br><br><br>
            </div>

        </div>


    </div>
</div>
