
@{
    ViewBag.Title = "Home";
}

<head>
    <link href="~/Content/css/Foreground/Home/HomeStyle.css" rel="stylesheet" />
</head>

<div id="progress_home">

</div>

<div class="dome_one">
    <div class="demo">
        <a class="control prev"></a><a class="control next abs"></a><!--自定义按钮，移动端可不写-->
        <div class="slider">
            <!--主体结构，请用此类名调用插件，此类名可自定义-->
            <ul>
                <li><a href=""><img src="~/Content/img/Home/1.jpg" /></a></li>
                <li><a href=""><img src="~/Content/img/Home/2.jpg" /></a></li>
                <li><a href=""><img src="~/Content/img/Home/3.jpg" /></a></li>
                <li><a href=""><img src="~/Content/img/Home/4.jpg" /></a></li>
                <li><a href=""><img src="~/Content/img/Home/5.jpg" /></a></li>
            </ul>
        </div>
    </div>
</div>


<div class="Home_GIF_A">
    <span></span>
    <img src="~/Content/img/Home/彩虹.png" />
</div>

<div class="Home_Zroe">

    <div class="Home_Two">

    </div>





    <div class="Home_Four">
        <div class="Home_Four_one">
            <div class="skillbar clearfix " data-percent="15%">
                <div class="skillbar-title" style="background: #d35400;"><span>灾难需救</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
                <div class="skill-bar-percent">15%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title" style="background: #2980b9;"><span>贫困地区</span></div>
                <div class="skillbar-bar" style="background: #3498db;"></div>
                <div class="skill-bar-percent">30%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="45%">
                <div class="skillbar-title" style="background: #2c3e50;"><span>贫穷比例</span></div>
                <div class="skillbar-bar" style="background: #2c3e50;"></div>
                <div class="skill-bar-percent">45%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="35%">
                <div class="skillbar-title" style="background: #46465e;"><span>温饱比例</span></div>
                <div class="skillbar-bar" style="background: #5a68a5;"></div>
                <div class="skill-bar-percent">35%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="20%">
                <div class="skillbar-title" style="background: #333333;"><span>富裕比例</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
                <div class="skill-bar-percent">20%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #27ae60;"><span>全国人口</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                <div class="skill-bar-percent">100%</div>
            </div> <!-- End Skill Bar -->

        </div>
        <div class="Home_Four_two">
            <div class="wmax fn-clear">
                <h2>
                    <ul>
                        <li class="name">中国全国贫困差距</li>
                    </ul>
                </h2>
            </div>

        </div>
    </div>


    <div class="Home_Three">
        <div id="LoopDiv">
            <input id="S_Num" type="hidden" value="8" />
            <div id="starsIF" class="imageflow">
                <img src="~/Content/img/Home/1_1.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/2_2.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/1_1.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/3_3.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/4_4.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/5_5.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/6_6.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/1_1.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/2_2.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/3_3.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/4_4.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/5_5.jpg" longdesc="#" width="280" height="300" alt="Picture" />
            </div>
        </div>
    </div>






    <div class="Home_Six">

        <div class="Home_Six_one">

            <ul class="service_list clearfix">
                <li><a class="s1" href="#">注册</a></li>
                <li><a class="s2" href="#">登录</a></li>
                <li><a class="s3" href="#">shop资讯</a></li>
                <li><a class="s4" href="#">团购</a></li>
                <li><a class="s6" href="#">热门标签</a></li>
                <li><a class="s7" href="#">购物车</a></li>
                <li><a class="s8" href="#">网站地图</a></li>
                <li><a class="s9" href="#">站点公告</a></li>
                <li><a class="s10" href="#">帮助中心</a></li>
                <li><a class="s11" href="#">找回密码</a></li>
            </ul>

        </div>
    </div>

</div>











<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/js/Foreground/Home/YuxiSlider.jQuery.min.js"></script>