
@{
    ViewBag.Title = "Home";
}

<head>
    <title>Charity-Home</title>
    <link href="~/Content/css/Foreground/Home/HomeStyle.css" rel="stylesheet" />
</head>

<div id="progress_home"></div>

<div class="dome_one">
    <div class="demo">
        <a class="control prev"></a><a class="control next abs"></a><!--自定义按钮，移动端可不写-->
        <div class="slider">
            <!--主体结构，请用此类名调用插件，此类名可自定义-->
            <ul>
                <li><a href=""><img src="~/Content/img/Home/1.jpg" /></a></li>
                <li><a href=""><img src="~/Content/img/Home/2.jpg" /></a></li>
                <li><a href=""><img src="~/Content/img/Home/3.jpg" /></a></li>
                <li><a href=""><img src="~/Content/img/Home/4.jpg" /></a></li>
                <li><a href=""><img src="~/Content/img/Home/5.jpg" /></a></li>
            </ul>
        </div>
    </div>
</div>



<div class="Home_GIF_A">
        <span></span>
        <img src="~/Content/img/Home/彩虹.png" />
    </div>

<div class="Home_Zroe">
    <div class="Home_Two">
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-auth"></figure>
                        <h3>
                            安全性
                        </h3>
                        <p>是以国家正规出版物为核心的慈善义卖平台。旨在搭建一个高效、安全、快捷的互联网义卖平台，充分实现资本的合理流动和资源的优化配置.具有国家网络安全保障</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-subscribe"></figure>
                        <h3>
                            订阅
                        </h3>
                        <p>欢迎全国具有爱心人士订阅关注我们，本网站为 www.CharityOs.com,微信：CharityOS,邮箱:Charity@163.com.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-team"></figure>
                        <h3>
                            团队
                        </h3>
                        <p>我们团队是由社会各界爱心人士自发组织成立的社会公益性团队，目前团队成员一百多人，我们以扶老、助残、救孤、济困为己任，为社会提供关爱服务，奉献爱心， 传递正能量.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-inv"></figure>
                        <h3>
                            快递
                        </h3>
                        <p>我们的快递具有多方向，享有国家政权保护，公民利益化，快递选择遍布全国的多家知名快递运营商， GPS全程货物跟踪，确保您的货物安全送达.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-cart"></figure>
                        <h3>
                            筹款资金
                        </h3>
                        <p>我们将通过多方向进行资金筹款，由线下活动筹备，与线上网络平台融为一体，实现方便快捷有效的资金筹备.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-announcement"></figure>
                        <h3>
                            善款资金公开
                        </h3>
                        <p>善款去向会及时向社会公开，主动接受社会公众的全程监督，我们将在线上网站系统中公布善款筹集和去向情况.</p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-imp"></figure>
                        <h3>
                            电子商务概念
                        </h3>
                        <p>电子商务指实现整个贸易活动的电子化. (涵盖范围) 交易各方以电子交 易方式而不是通过当面交换或直接面谈方式进行的任何形式的商业交易.涉及业务: 信息交换, 售前售后服务, 销售, 电子支付, 运输, 组建虚拟企业, 公司和贸易伙伴共同拥有的商业方法等.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-two"></figure>
                        <h3>
                            模式
                        </h3>
                        <p>网站的模式为了提升网站服务于用户的效率，而从事与网站后期运作、经营有关的工作；范畴通常包括网站内容更新维护、网站服务器维护、网站流程优化、数据挖掘分析、用户研究管理、网站营销策划等.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-vue"></figure>
                        <h3>
                            爱心
                        </h3>
                        <p>我们都有一种奉献精神，也是关怀、爱护人的思想感情，包括于所有情感之中。当对象为人类时，往往与"阶级友爱"或"同胞情"相对应，指超阶级的或超国的、基于彼此都是人类这一认识的同情怜悯，当对象为非人类时，则往往基于彼此都是动物或生命这一认识的同情怜悯.</p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-box"></figure>
                        <h3>
                            我们承诺
                        </h3>
                        <p>我们公布的一切用于收集爱心人士信息的方法，均采取了安全的措施和保护，避免信息的丢失和误用，我们的电话系统采用了呼叫中心系统，爱心用户的信息会直接记录进ROBT的信息系统，只有在需要的时候才可以调用，我们的网站也采用了最新的加密系统，确保爱心用户的信息和订单记录都是最安全的.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-upgrades"></figure>
                        <h3>
                            简单的操作
                        </h3>
                        <p>本网站采用傻瓜式操作，以十分简单的操作方式服务于用户，使用户的操作更加流畅，快捷，可加速了慈善事业的发展.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <figure class="icon-cog"></figure>
                        <h3>
                            在线交易
                        </h3>
                        <p>义卖平台提供在线交易保障服务，保障您支付的货款（租金、押金）的安全。提交订单、付货款（租金、押金）给义卖系统网、买方购买（承租商租用）商品、买卖（租赁）双方确认商品、义卖网与买卖（租赁）双方结算费用、义卖网平台为买卖（租赁）双方提供现金保障!</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="Home_Four">
        <div class="Home_Four_one">
            <div class="skillbar clearfix " data-percent="15%">
                <div class="skillbar-title" style="background: #d35400;"><span>灾难需救</span></div>
                <div class="skillbar-bar" style="background: #e67e22;"></div>
                <div class="skill-bar-percent">15%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title" style="background: #2980b9;"><span>贫困地区</span></div>
                <div class="skillbar-bar" style="background: #3498db;"></div>
                <div class="skill-bar-percent">30%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="45%">
                <div class="skillbar-title" style="background: #2c3e50;"><span>贫穷比例</span></div>
                <div class="skillbar-bar" style="background: #2c3e50;"></div>
                <div class="skill-bar-percent">45%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="35%">
                <div class="skillbar-title" style="background: #46465e;"><span>温饱比例</span></div>
                <div class="skillbar-bar" style="background: #5a68a5;"></div>
                <div class="skill-bar-percent">35%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="20%">
                <div class="skillbar-title" style="background: #333333;"><span>富裕比例</span></div>
                <div class="skillbar-bar" style="background: #525252;"></div>
                <div class="skill-bar-percent">20%</div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title" style="background: #27ae60;"><span>全国人口</span></div>
                <div class="skillbar-bar" style="background: #2ecc71;"></div>
                <div class="skill-bar-percent">100%</div>
            </div> <!-- End Skill Bar -->

        </div>

        <div class="Home_Four_two">
            <div class="wmax fn-clear">
                <h2>
                    <ul>
                        <li class="name">中国全国贫困差距</li>
                    </ul>
                </h2>
            </div>

        </div>
    </div>

    <div class="Home_Three">
        <div id="LoopDiv">
            <input id="S_Num" type="hidden" value="8" />
            <div id="starsIF" class="imageflow">
                <img src="~/Content/img/Home/1_1.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/2_2.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/1_1.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/3_3.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/4_4.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/5_5.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/6_6.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/1_1.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/2_2.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/3_3.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/4_4.jpg" longdesc="#" width="280" height="300" alt="Picture" />
                <img src="~/Content/img/Home/5_5.jpg" longdesc="#" width="280" height="300" alt="Picture" />
            </div>
        </div>
    </div>

    <div class="Home_Six">
        <div class="Home_Six_one">
            <ul class="service_list clearfix">
                <li><a class="s1" href="/LoginSignUp/SignUpIndex">注册</a></li>
                <li><a class="s2" href="/LoginSignUp/LoginIndex">登录</a></li>
                <li><a class="s3" href="/NewNews/NewNewsIndex">shop资讯</a></li>
                <li><a class="s4" href="/Market/MarketIndex">团购</a></li>
                <li><a class="s6" href="#">热门标签</a></li>
                <li><a class="s7" href="#">个人中心</a></li>
                <li><a class="s8" href="#">网站地图</a></li>
                <li><a class="s9" href="#">站点公告</a></li>
                <li><a class="s10" href="#">帮助中心</a></li>
                <li><a class="s11" href="/ContactUs/ContactUsIndex">联系我们</a></li>
            </ul>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/js/Foreground/Home/YuxiSlider.jQuery.min.js"></script>